/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kablammo", system-ui;
}

.sideBar
{
    border: solid 1px black;
    position: sticky;
    height: calc(100vh - 80px);
    /* width: 200px; */
}

.header
{
    border: solid 1px black;
    height: 80px;
}

.self-center
{
    margin: auto;
    width: 60%;
    background-color: white;
    border-radius: 5px;
}

.soft-rainbow {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff
  );
  background-size: 400% 400%;
  animation: gentleRainbow 20s ease infinite;
}

@keyframes gentleRainbow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.gradient-text-animated {
  background: linear-gradient(
    315deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff
  );

  background-size: 800% 800%;
  animation: textGradientMove 20s ease infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
