<div  style="height: calc(100vh - 80px); overflow-y: scroll;">
    <!-- Buttons -->
  <button (click)="previousPage()" class="btn btn-secondary m-1" [disabled]="page === 1">Previous page</button>
  <button (click)="nextPage()" class="btn btn-primary m-1">Next page</button>
  <!-- <input
    type="text"
    #searchTvShows
    
    class="form-control d-inline-block"
    placeholder="Cerca serie TV (minimo 3 caratteri)"
  /> -->

  <app-input-text [form]="form" [inputModel]="{controlName: 'control', label: 'Filtro Ricerca', type: 'text'}" ></app-input-text>
  <button *ngIf="searchMode" class="btn btn-secondary m-1">Annulla ricerca</button>

  <div *ngIf="tvShows.length === 0 && searchMode" class="alert alert-warning m-2">
    Nessun risultato per "{{ searchQuery }}"
  </div>
  <!-- List for tvShows -->
  <div *ngFor="let tv of tvShows">
    <h3>{{ tv.name }}</h3>
    <p>{{ tv.overview }}</p>
    <p>{{ tv.first_air_date | test }}</p>

    <img
      *ngIf="tv.poster_path"
      [src]="tv.poster_path | imgPipe: 'M'"
      alt="{{ tv.name }}"
    />
    <button [routerLink]="['/tv', tv.id]" class="btn btn-primary soft-rainbow mt-3"><span class="gradient-text-animated">Details</span></button>
    <button (click)="goToDetails(tv)" class="btn btn-primary soft-rainbow mt-3"><span class="gradient-text-animated">Matita</span></button>
    <hr />
  </div>

</div>
      <!-- [src]="'https://image.tmdb.org/t/p/w300' + tv.poster_path" -->
