<div *ngIf="loader; else tvShowTemplate" style="overflow-y: scroll">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<ng-template #tvShowTemplate>
  <div *ngIf="tvShow" style="overflow-y: scroll; height: calc(100vh - 80px)">
    <h1>{{ tvShow.name }}</h1>

    <p>{{ tvShow.overview }}</p>
    <div>
      <img
        *ngIf="tvShow.poster_path"
        [src]="tvShow.poster_path | imgPipe: 'L'"
        [alt]="tvShow.name"
      />
    </div>
    <div *ngIf="osservabile$ | async as response; else loaderElem">
      <span *ngFor="let i of response.cast">
        {{ i.name | json }}
      </span>
    </div>
  </div>
  <div></div>
</ng-template>

<ng-template #loaderElem> <h4>caricamento osservabile</h4></ng-template>
<!-- <ng-container></ng-container> Non serve dare nome -->
<!-- <ng-template #tvShowTemplate> Serve dare un nome dopo # -->
<!-- [src]="'https://image.tmdb.org/t/p/w500' + tvShow.poster_path" -->

<!-- <p *ngIf="osservabile$ | async as response; else loaderElem">
      {{ response | json }}
    </p> -->
