<div style="overflow-y: scroll; height: calc(100vh - 80px)">
  <form [formGroup]="filmFormDetails">
    <div class="form-group">
      <mat-tab-group mat-align-tabs="start">
        <!-- PRIMO TAB: DETAILS -->
        <mat-tab [label]=" filmFormDetails.invalid ? 'First !' : 'First' ">
         <app-first-tab [form]="filmFormDetails"></app-first-tab>
        </mat-tab>

        <!-- SECONDO TAB -->
        <mat-tab [label]=" filmFormDetails.invalid ? 'Second !' : 'Second' "> 
          <app-second-tab [form]="filmFormDetails"></app-second-tab>
        </mat-tab>

        <!-- THIRD TAB -->
        <mat-tab [label]="formArray().invalid ? 'Third !' : 'Third'">
          <app-dynamic-table
            [dataSource]="reviewDataSource"
            [displayedColumns]="reviewDisplayedColumns"
            [actions]="reviewActions"
          ></app-dynamic-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </form>
</div>
