<div class="my-3">
  <label class="form-label" for="{{ inputModel.controlName }}"
    >{{ inputModel.label
    }}<span>
      {{
        form.get(inputModel.controlName).value
          | errorLabel: form.get(inputModel.controlName)
      }}
    </span></label
  >
  <select
    [compareWith]="compareWith"
    name="{{ inputModel.controlName }}"
    id="{{ inputModel.controlName }}"
    style="width: 100%"
    [formControl]="form.get(inputModel.controlName)"
    *ngIf="options"
    class="form-control"
  >
    <option [ngValue]="null">Seleziona {{ inputModel.label }}</option>
    <option
      *ngFor="let option of options"
      [ngValue]="option"
    >
      {{ option.name }}
    </option>
  </select>

  <!-- <app-labels-for-everyone [form]="form" [inputModel]="inputModel"></app-labels-for-everyone> -->
</div>
