<div class="form-floating my-3">
  <select
    [compareWith]="compareWith"
    name="{{ inputModel.controlName }}"
    id="{{ inputModel.controlName }}"
    style="width: 100%"
    [formControl]="form.get(inputModel.controlName)"
    *ngIf="options"
    class="form-control"
  >
    <option [value]="null">Seleziona {{ inputModel.label }}</option>
    <option
      *ngFor="let option of options"
      [ngValue]="option"
      [label]="option.name"
    ></option>
  </select>
  <label for="{{ inputModel.controlName }}"
    >{{ inputModel.label
    }}<span *ngIf="form.get(inputModel.controlName).invalid">!</span></label
  >
  <!-- <app-labels-for-everyone [form]="form" [inputModel]="inputModel"></app-labels-for-everyone> -->
</div>
