<div class="form-floating my-3">
  <input
    type="date"
    name="inputText"
    id="inputText"
    class="form-control"
    placeholder=""
    [formControl]="form.get(inputDate?.controlName)"
    [step]="inputDate?.step"
    [min]="inputDate?.min"
    [max]="inputDate?.max"
  />
  <label class="form-label" for="inputText"> {{ inputDate?.label }} 
    <span>
      {{form.get(inputDate?.controlName).value | errorLabel: form.get(inputDate?.controlName)}}
    </span>
  </label>
</div>

<input type="date" []>