<div style="overflow-y: scroll; height: 80vh">
  <form [formGroup]="movieForm">
    <h1 *ngIf="tvShow" style="margin-left: 25px">{{ tvShow.name }}</h1>
    <div
      *ngIf="imageUrl"
      [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }"
      class="col-6 mt-3"
      style="width: 780px; height: 439px; margin-left: 25px"
    ></div>

    <!-- Contrainer Fluid start -->
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <!-- Popularity -->
        <div class="form-group col-3">
          <label for="Popularity">Popularity <span *ngIf="movieForm.get('popularity')?.invalid">!</span></label>
          <input
            type="number"
            name="Popularity"
            class="form-control"
            formControlName="popularity"
          />
        </div>

        <!-- Last Air Date -->
        <div class="form-group col-3">
          <label for="LastAirDate">Last air date:<span *ngIf="movieForm.get('last_air_date')?.invalid">!</span></label>
          <input
            type="date"
            name="LastAirDate"
            id=""
            class="form-control"
            formControlName="last_air_date"
          />
        </div>

        <!-- Generi -->
        <div class="form-group col-3">
          <label for="Generi">Generi: </label>
          <select [compareWith]="comparison" name="Generi" id="" *ngIf="tvGenres" style="width: 100%" formControlName="genres">
            <option [value]="null">Seleziona il genere</option>
            <!-- <option
              *ngFor="let genre of tvGenres.genres"
              [ngValue]="genre"
              [label]="genre.name"
            ></option> -->
            <option value="Pippo">Pippo</option>
          </select>
        </div>

        <!-- Overview -->
        <div class="form-group col-6 my-3">
          <textarea
            formControlName="overview"
            style="width: 100%"
            rows="10"
          ></textarea>
        </div>

        <!-- Adult -->
        <div class="form-group col-6">
          <label>18+</label>
          <input type="checkbox" formControlName="adult" />
          <p *ngIf="movieForm.get('adult')?.value">
            Il seguente prodotto è destinto ad un pubblico adulto
          </p>
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-primary"(click)="print()" >Pulsante</button>
</div>

