<div style="overflow-y: scroll; height: calc(100vh - 80px);">
  <div
    *ngIf="loading"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      color: #444;
    "
  >
    <mat-spinner></mat-spinner>
    <div style="margin-top: 12px; font-size: 14px">
      Giuro che sto caricando
    </div>
  </div>
  <app-dynamic-table
    *ngIf="!loading"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [actions]="actions"
  ></app-dynamic-table>
</div>
