<div style="display: flex; flex-direction: column;">
    <button [routerLink]="['/login']" class="btn btn-primary soft-rainbow m-3"><span class="gradient-text-animated">Login</span></button>
    <button [routerLink]="['/RockPaperScissors']" class="btn btn-primary soft-rainbow m-3"><span class="gradient-text-animated">Rock Paper Scissors</span></button>
    <button [routerLink]="['/TvShows']" class="btn btn-primary soft-rainbow m-3"><span class="gradient-text-animated">TvShows List</span></button>
    <button [routerLink]="['/memory']" class="btn btn-primary soft-rainbow m-3"><span class="gradient-text-animated">Memory</span></button>
    <button [routerLink]="['/inputs']" class="btn btn-primary soft-rainbow m-3"><span class="gradient-text-animated">Inputs</span></button>
</div>